body {
    font-family: 'Lato', sans-serif;
    background-color: #363945;
    color: #FFF;
}

.container {
    background-color: #e37602;
    border-radius: 3px;
}

/* input:invalid {
    border: red solid 3px;
} */

/* input:focus:invalid {
    border: red solid 3px;
} */

.form-control {
    border-radius: 3px;
    background-clip: unset;
}

.form-control:focus {
    border: 2px solid  #363945;
    box-shadow: unset;
}

.text-danger {
    color: #b91400!important;
}

.btn-primary {
    border-radius: 3px;
    background-color: #0072b5;
}

.btn-primary:hover {
    background-color:  #363945;
    border: 1px solid  #363945;
}

.btn-primary:focus {
    border: 2px solid  #363945;
    box-shadow: unset;
}

.data-div {
    border-radius: 3px;
    background-color: #d4ad77;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.data-title {
    font-weight: 700;
    text-decoration: underline;
}